.productsHeading{
    margin: 2vmax auto;
    width: 15vw;
  border-bottom: 2px solid black;
  padding: 2vmax;
  color: black;
  /* background-color: black; */
}

.products{
    display: flex;
    flex-wrap: wrap;
    padding: 0 5vmax;
    justify-content: center;
}

/* pagination */
.paginationBox{
  display: flex;
  justify-content: center;
  margin: 6vmax;
}

.pagination{
  display: flex;
  justify-content: center;
  padding: 0;
}
.page-item{
  list-style-type: none;
  color: black;
  background-color:antiquewhite;
  border: 1px solid black;
  padding: 1vmax 1.5vmax;
  transition: all 1.2s linear;
  cursor: pointer;
}

.page-item:hover{
  background-color: silver;
  color: white ;
}

.page-item:first-child{
  border-radius: 10px 0 0 10px;
}

.page-item:last-child{
  border-radius: 0 10px 10px 0;
}

.page-link{
  text-decoration: none;
  color:black;
  font: bolder 1.2vmax "Franklin";
  transition: all 1s linear;
}

.page-link:hover{
  color: white;
}

.pageItemActive{
  background-color: tomato;
}

.pageLinkActive{
  color: white;
}

/* Price filteration */

.filterBox{
  width: 10%;
  position: absolute;
  top: 16vmax;
  left: 4vmax;
}

/* Ctaregory filteration */

.categoryBox{
  padding: 0;
}

.category-link{
  list-style: none;
  color: rgba(0, 0, 0, 0.322);
  font-weight: 300;
  font-size: 1vmax;
  font-family: monospace;
  cursor: pointer;
  transition: all 1s;
}

.category-link:hover{
  color: tomato;
}


/* Rtaings filteration */

.filterBox > fieldset{
  border: 1px solid rgba(0, 0, 0, 0.087);
  
}